{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>


      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required><br>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required><br>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required><br>
  
      <label for="mobile"><b>Mobile</b></label>
      <input type="text" placeholder="Enter Mobile" name="mobile" id="mobile" required><br>

  
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="{% url 'login_user' %}">Sign in</a>.</p>
    </div>
  </form>
{% endblock %}